<template>
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <router-link class="navbar-item" :to="{ name: 'SearchPodcasts' }">
      iVoox PHP API Client
    </router-link>
    <div class="navbar-end">
      <router-link class="navbar-item" :to="{ name: 'DevTeam' }">
        Powered by PEUM <img src="/img/logoPeum.png" class="logo-peum" alt="Powered by PEUM">
      </router-link>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'header',
  };
</script>

<style scoped>

</style>
