<template>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img :src="episode.thumbnail" :alt="episode.name">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ episode.name }}</strong> <br> <small>{{ episode.duration }}</small>
            <br>
            {{ episode.description }}
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <span class="level-item">
              {{ episode.comments }} <span class="icon is-small"><i class="fa fa-comments"></i></span>
            </span>
            <span class="level-item">
              {{ episode.likes }} <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
            </span>
            <a :href="episode.url" class="level-item is-pulled-right" target="_blank">
              <span class="icon is-small"><i class="fa fa-play"></i></span> Listen
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
</template>

<script>
  export default {
    name: 'podcast-episodes-item',
    props: ['episode']
  };
</script>

<style scoped>

</style>
