<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          iVoox PHP API Client
        </p>

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <form @submit.prevent="searchPodcasts">
                  <input class="input is-large" type="text" placeholder="Search Podcast..."
                         v-model="podcastSearch">

                  <button type="submit" class="button is-primary is-dark is-medium is-pulled-right" :class="{ 'is-loading': searching }">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section content" v-if="podcastSearchResult">
      <h4 v-if="podcastSearchResult">Results of "{{ podcastSearchResult }}" ({{ podcasts.length }}):</h4>
      <div class="columns is-multiline is-mobile">
        <div class="column is-one-third" v-for="podcast in podcasts" :key="podcast.id">
          <app-podcast-list-item :podcast="podcast"></app-podcast-list-item>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import PodcastListItem from './PodcastListItem';

  export default {
    name: 'podcast-searcher',
    components: {
      'app-podcast-list-item': PodcastListItem,
    },
    data() {
      return {
        podcastSearch: '',
        podcastSearchResult: '',
        searching: false,
        podcasts: [],
      };
    },
    methods: {
      searchPodcasts() {
        if(this.podcastSearch && !this.sçearching) {
          this.searching = true;
          window.axios.get('/search', { params: { search: this.podcastSearch } })
            .then(({ data }) => {
              this.searching = false;
              this.podcastSearchResult = this.podcastSearch;
              this.podcasts = data;
            });
        } else {
          this.podcasts = [];
        }
      }
    }
  };
</script>

<style scoped>
  button.is-primary.is-dark {
    background: #0a8774;
    margin-top: 20px;
  }
</style>
