<template>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img :src="podcast.thumbnail" :alt="podcast.name">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5">{{ podcast.name }}</p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a :href="podcast.ivoox_url" target="_blank" class="card-footer-item">See in iVoox</a>
      <router-link :to="{ name: 'Podcast', params: { podcastId: podcast.id }}" class="card-footer-item">See Episodes</router-link>
    </footer>
  </div>
</template>

<script>
  export default {
    name: 'podcast-list-item',
    props: ['podcast']
  };
</script>

<style scoped>

</style>
