<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <router-link :to="{ name: 'SearchPodcasts' }"><i class="fa fa-arrow-left"></i> back</router-link>

        <p class="title">
          iVoox PHP API Client
        </p>
      </div>
    </section>
    <div class="container">
      <div class="content">
        <h1>Semantic Jail</h1>
        <p>
          Este producto es una demo para probar el uso de la API de iVoox en PHP (<a href="https://gitlab.com/semantic-jail/php-ivoox-api">https://gitlab.com/semantic-jail/php-ivoox-api</a>). Se ha desarrollado durante la hackaton "HackPEUM" organizada por el podcast <a href="http://www.programaresunamierda.com/">Programar es una mierda</a> el 3 de Febrero de 2018.
        </p>

        <h2>Integrantes del equipo</h2>
        <p>Los componentes del equipo son:</p>
        <ul>
          <li>Ibon Conesa García (<a href="https://www.twitter.com/ibonconesa">@ibonconesa</a>).</li>
          <li>Marco Bellido (<a href="https://www.twitter.com/marcoocram">@marcoocram</a>).</li>
        </ul>

        <div class="has-text-centered">
          <img src="/img/logoPeum.png" alt="Programar es una mierda">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'dev-team',
  };
</script>

<style scoped>
  .container {
    margin-top: 20px;
  }
</style>
