<template>
  <div v-if="podcastData">
    <section class="hero is-primary">
      <div class="hero-body">
        <router-link :to="{ name: 'SearchPodcasts' }"><i class="fa fa-arrow-left"></i> back</router-link>

        <p class="title">
          iVoox PHP API Client
        </p>

        <p class="subtitle">{{ podcastData.name }} ({{ podcastData.episodes.length }} episodes)</p>
      </div>
    </section>

    <section class="section">
      <div class="columns is-multiline is-mobile">
        <div class="column is-one-third" v-for="episode in podcastData.episodes" :key="episode.id">
          <app-podcast-episode :episode="episode"></app-podcast-episode>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import PodcastEpisodesItem from '../components/PodcastEpisodesItem.vue';

  export default {
    name: 'podcast',
    components: {
      'app-podcast-episode': PodcastEpisodesItem
    },
    data() {
      return {
        podcastData: null
      }
    },
    beforeRouteEnter(to, from, next) {
      window.axios.get('/searchEpisodes', { params: { podcastId: to.params.podcastId } })
        .then(({ data }) => {
          next(vm => vm.setData(data));
        });
    },
    methods: {
      setData(data) {
        this.podcastData = data;
      }
    }
  };
</script>

<style scoped>

</style>
