<template>
  <div>
    <app-podcast-searcher></app-podcast-searcher>
  </div>
</template>

<script>
  import PodcastSearcher from './../components/PodcastSearcher.vue';

  export default {
    name: 'search-podcasts',
    components: {
      'app-podcast-searcher' : PodcastSearcher
    }
  };
</script>

<style scoped>

</style>
